@use './Variables.scss' as var;
@use './Mixins.scss' as mixins;

.footer{
    background-color: var.$tertiary-color;
    padding: 3rem 5rem;
    display: flex;
    grid-gap: 15rem;
    &--socials{
        .logo{
           #logo-white{
            fill: var.$secondary-color;
           }
        }

        .socials{
            display: flex;
            grid-gap: 2rem;
        }
    }

    .other{
        color: var.$secondary-color;
        display: flex;
        grid-gap: 8rem;

        .cpa{
            ul{
                display: grid;
                grid-gap: 1rem;
                li{
                    list-style: none;
                }
            }
        }
    }
}