@use './Variables.scss' as var;

.header{
    display: flex;
    flex-direction: row;
    grid-gap:10rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    // margin-left: 3rem;
    font-weight: 400;

   nav{
    ul{
        display: flex;
        grid-gap: 3rem;
        li{
            color: var.$text-color1;
            list-style: none;
        }
    }
   }

   a{
    text-decoration: none;
    background: var.$primary-color;
    color: var.$text-color2;
    padding: 0.6rem;
    border-radius: 0.5rem;
   }
}