@use './Variables.scss' as var;
@use './Mixins.scss' as mixins;

.home { 
    @include mixins.split-screen();
   
    position: relative;
    margin-top: 1rem ;

    .description {
       @include mixins.description(34rem);
       margin-top: 1.5rem;
        .search {
            display: flex;
            align-items: center;


            #search {
                flex-grow: 1;
                box-sizing: border-box;
                border-radius: 8px 0px 0px 8px;
                border: var.$border;
                padding: 1rem 1rem;


                &::placeholder {
                    color: var.$placeholder-color;
                    font-size: 0.875;
                    line-height: 130%;
                }
            }

            button {
                padding: 1.05rem 5rem;
                border-radius: 0px 8px 8px 0px
            }
        }
    }

    .home-images{
        display: grid;
        grid-row-gap: 0.2rem;
        grid-column-gap: 0.6rem;
        grid-template-rows: repeat(6, 5rem);
        grid-template-columns: repeat(2, 1fr);

        #home--image-tr{
            grid-column: 2/ 3;
            grid-row: 1/ 2;
        }

        #home--image-tl{
            grid-row: 2/ 4;
            align-self: center;
        }

        #home--image-br{
            grid-column: 2/ 3;
            grid-row: 3/ 5;
            align-items: center;
        }

        #home--image-bl{
            grid-row: 4/ 6;
            grid-column: 1/ 2;
            align-self: center;
        }
    }
}