@use './Variables.scss' as var;

.mb-sm{
   margin-bottom: 0.5rem;
}

.mb-md{
    margin-bottom: 2rem;
}

.mb-lg{
    margin-bottom: 5rem;
}

.mt-sm{
    margin-top: 0.5rem;
}

.mt-md{
    margin-top: 2rem;
}