$text-color1: #434343;
$text-color2: #ffffff;
$primary-text-color: #A02279;
$primary-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
$logo-color: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);